meta:
  engine: 4.1.0
units:
  p: 0
  hU: .5U
  hUp: hU + p
  # padding for the case edge
  ep: .5
  mcuY: 5
points:
  zones.key_matrix:
    anchor:
      rotate: 2.5
      shift: [100, -100]
    columns:
      pinky:
        key:
          column_net: Col0
          tags: [key, pinky]
        rows:
          bottom:
            key:
              led_prev: LED3
              led_next: LED4
          home:
            key:
              led_prev: LED12
              led_next: LED13
          top:
            key:
              led_prev: LED13
              led_next: LED14
          number:
            key:
              led_prev: LED22
              led_next: LED_BACKLIGHT_1
      ring:
        key:
          splay: -2.5
          origin: [-12, -19]
          stagger: 7
          column_net: Col1
          tags: [key, main]
        rows:
          bottom:
            key:
              led_prev: LED4
              led_next: LED5
          home:
            key:
              led_prev: LED11
              led_next: LED12
          top:
            key:
              led_prev: LED14
              led_next: LED15
          number:
            key:
              led_prev: LED21
              led_next: LED22
      middle:
        key:
          stagger: 5
          column_net: Col2
          tags: [key, main]
        rows:
          bottom:
            key:
              led_prev: LED5
              led_next: LED6
          home:
            key:
              led_prev: LED10
              led_next: LED11
          top:
            key:
              led_prev: LED15
              led_next: LED16
          number:
            key:
              led_prev: LED20
              led_next: LED21
      index:
        key:
          stagger: -6
          column_net: Col3
          tags: [key, main]
        rows:
          bottom:
            key:
              led_prev: LED6
              led_next: LED7
          home:
            key:
              led_prev: LED9
              led_next: LED10
          top:
            key:
              led_prev: LED16
              led_next: LED17
          number:
            key:
              led_prev: LED19
              led_next: LED20
      inner:
        key:
          stagger: -2
          column_net: Col4
          tags: [key, main]
        rows:
          bottom:
            key:
              led_prev: LED7
              led_next: LED8
          home:
            key:
              led_prev: LED8
              led_next: LED9
          top:
            key:
              led_prev: LED17
              led_next: LED18
          number:
            key:
              led_prev: LED18
              led_next: LED19
    rows:
      bottom:
        row_net: Row3
      home:
        row_net: Row2
      top:
        row_net: Row1
      number:
        row_net: Row0

  zones.key_thumbfan:
    anchor:
      ref: key_matrix_index_bottom
      shift: [0, -22]
    key:
      tags: [key, thumb_fan]
    columns:
      near:
        key:
          column_net: Col2
        rows.thumb.key:
          led_prev: LED2
          led_next: LED3
      home:
        key:
          spread: 21.25
          splay: -14
          origin: [-11.75, -9]
          column_net: Col3
        rows.thumb.key:
          led_prev: LED1
          led_next: LED2
      far:
        key:
          spread: 21.25
          splay: -15
          origin: [-9.5, -9]
          column_net: Col4
        rows.thumb.key:
          led_prev: LED
          led_next: LED1
    rows:
      thumb:
        row_net: Row4

  zones.mcu:
    anchor:
      ref: key_matrix_inner_bottom
      shift: [21.5, 4 + hU]

  zones.key_prgm:
    anchor:
      ref: mcu
      shift: [4, -15]
    key:
      from: Col0
      to: Row4

  zones.mcu_cover_mounting_hole_top_right:
    anchor:
      ref: mcu
      shift: [8, 15]
    key.tags: [mcu_cover_mounting_hole]
  zones.mcu_cover_mounting_hole_top_left:
    anchor:
      ref: mcu
      shift: [-8, 15]
    key.tags: [mcu_cover_mounting_hole]
  zones.mcu_cover_mounting_hole_bottom_right:
    anchor:
      ref: key_thumbfan_far_thumb
      shift: [-3.466, hUp + 4]
    key.tags: [mcu_cover_mounting_hole]
  zones.mcu_cover_mounting_hole_bottom_left:
    anchor:
      ref: key_thumbfan_home_thumb
      shift: [6.338, hUp + 4]
    key.tags: [mcu_cover_mounting_hole]

  zones.backlight_led_1:
    anchor:
      ref: key_matrix_pinky_top
      shift: [hUp, 7.5]
    key:
      led_prev: LED_BACKLIGHT_1
      led_next: LED_BACKLIGHT_2
      tags: [backlight_led]

  zones.backlight_led_2:
    anchor:
      ref: key_matrix_ring_bottom
      shift: [-hUp, 2]
    key:
      led_prev: LED_BACKLIGHT_2
      led_next: LED_BACKLIGHT_3
      tags: [backlight_led]

  zones.backlight_led_3:
    anchor:
      ref: key_matrix_middle_bottom
      shift: [hUp, 0]
    key:
      led_prev: LED_BACKLIGHT_3
      led_next: LED_BACKLIGHT_4
      tags: [backlight_led]

  zones.backlight_led_4:
    anchor:
      ref: key_thumbfan_near_thumb
      shift: [hUp, hUp]
    key:
      led_prev: LED_BACKLIGHT_4
      led_next: LED_BACKLIGHT_5
      tags: [backlight_led]

  zones.backlight_led_5:
    anchor:
      ref: key_thumbfan_home_thumb
      shift: [hUp, 5]
    key:
      led_prev: LED_BACKLIGHT_5
      led_next: LED_BACKLIGHT_6
      tags: [backlight_led]

  zones.backlight_led_6:
    anchor:
      ref: key_matrix_index_top
      shift: [hUp, 0]
    key:
      led_prev: LED_BACKLIGHT_6
      led_next: LED_BACKLIGHT_7
      tags: [backlight_led]

  zones.backlight_led_7:
    anchor:
      ref: key_matrix_middle_top
      shift: [hUp, 2]
    key:
      led_prev: LED_BACKLIGHT_7
      led_next: LED_END
      tags: [backlight_led_rot]

outlines:
  keys:
    - what: rectangle
      where: true
      operation: stack
      size: [U, U]
  pcb_outline:
    - what: polygon
      fillet: 1
      points:
        - ref: key_matrix_pinky_bottom
          shift: [-hUp - ep, -hUp - ep]
        - ref: key_matrix_pinky_number
          shift: [-hUp - ep, hUp + ep]
        - ref: key_matrix_pinky_number
          shift: [6 - ep, hUp + ep]
        - ref: key_matrix_ring_number
          shift: [-hUp - ep, hUp + ep]
        - ref: key_matrix_ring_number
          shift: [hU - 5 - ep, hUp + ep]
        - ref: key_matrix_middle_number
          shift: [-hUp - ep, hUp + ep]
        - ref: key_matrix_middle_number
          shift: [hUp + ep, hUp + ep]
        - ref: key_matrix_index_number
          shift: [-hU + 5 - ep, hUp + ep]
        - ref: key_matrix_index_number
          shift: [hUp + ep, hUp + ep]
        - ref: key_matrix_inner_number
          shift: [-hU + 1.5 + ep, hUp + ep]
        - ref: key_matrix_inner_number
          shift: [hUp + ep, hUp + ep]
        - ref: key_matrix_inner_top
          shift: [hU + ep, 0]
        - ref: key_matrix_inner_top
          shift: [hU + 5 + ep, -5]
        - ref: key_matrix_inner_top
          shift: [31.1, -5]
        - ref: key_matrix_inner_top
          shift: [33.6, -7.6]
        - ref: key_thumbfan_far_thumb
          shift: [3.3 - ep, hUp + ep]
        - ref: key_thumbfan_far_thumb
          shift: [hUp + ep, hUp + ep]
        - ref: key_thumbfan_far_thumb
          shift: [hUp + ep, -hUp - ep]
        - ref.aggregate.parts: [key_thumbfan_far_thumb, key_thumbfan_home_thumb]
          shift: [ep, -8.5]
        - ref.aggregate.parts:
            [key_thumbfan_home_thumb, key_thumbfan_near_thumb]
          shift: [-ep, -8.60]
        - ref: key_thumbfan_near_thumb
          shift: [-hUp - ep, -hUp - ep]
        - ref: key_thumbfan_near_thumb
          shift: [-hUp - 7 - ep, -hUp + 16.1 - ep]
        - ref: key_matrix_pinky_bottom
          shift: [hUp, -hUp - ep]
  mcu_cover:
    - what: polygon
      points:
        - ref: key_matrix_inner_top
          shift: [hU + ep, 0]
        - ref: key_matrix_inner_top
          shift: [hU + 5 + ep, -5]
        - ref: key_matrix_inner_top
          shift: [31.1, -5]
        - ref: key_matrix_inner_top
          shift: [33.6, -7.6]
  view:
    - name: pcb_outline
    - operation: stack
      name: keys
pcbs:
  left:
    template: kicad8
    outlines:
      main:
        outline: pcb_outline
    footprints:
      gateron_hotswap:
        what: ceoloide/switch_gateron_ks27_ks33
        where: key
        params:
          from: "{{column_net}}"
          to: "{{colrow}}"
          switch_3dmodel_filename: ../../ergogen/models/KS-33_lp_2.0.stp
          switch_3dmodel_xyz_rotation: [0, 180, 180]
          switch_3dmodel_xyz_offset: [-60, 0, 2.5]
          hotswap_3dmodel_filename: ../../ergogen/models/low_profile_hotswap.stp
          hotswap_3dmodel_xyz_rotation: [0, 180, 180]
          hotswap_3dmodel_xyz_offset: [-114.5, -6.35, 5.4]
          keycap_3dmodel_filename: ../../ergogen/models/keycap.stp
          keycap_3dmodel_xyz_offset: [0, 0, -8]
          keycap_3dmodel_xyz_rotation: [90, 0, 0]
      main_key_diodes:
        what: rschenk/better_diode
        where: main
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
          through_hole: false
          front: true
          back: false
          via_from: false
          via_to: false
        adjust:
          shift: [0, -9]
      thumb_fan_diodes:
        what: rschenk/better_diode
        where: thumb_fan
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
          through_hole: false
          front: true
          back: false
          via_from: false
          via_to: false
        adjust:
          shift: [-hUp, 0]
          rotate: -90
      pinky_diodes:
        what: rschenk/better_diode
        where: pinky
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
          through_hole: false
          front: true
          back: false
          via_from: false
          via_to: false
        adjust:
          shift: [hUp, 0]
          rotate: -90
      key_leds:
        what: ceoloide/led_sk6812mini-e
        where: key
        adjust:
          shift: [-.6, 5.2]
        params:
          P2: "{{key.led_next}}" # Dout
          P4: "{{key.led_prev}}" # Din
          led_3dmodel_filename: ../../ergogen/models/SK6812-E.stp
          led_3dmodel_xyz_rotation: [90, 0, 0]
          led_3dmodel_xyz_offset: [0, 0, .2]
      backlight_leds:
        what: rschenk/ws2812b
        where: backlight_led
        params:
          side: B
          VCC: 5v
          din: "{{led_prev}}"
          dout: "{{led_next}}"
          led_3dmodel_filename: ../../ergogen/models/ws2812b.stp
      backlight_led_rotated:
        what: rschenk/ws2812b
        where: backlight_led_rot
        adjust:
          rotate: 90
        params:
          side: B
          VCC: 5v
          din: "{{led_prev}}"
          dout: "{{led_next}}"
          led_3dmodel_filename: ../../ergogen/models/ws2812b.stp
      seeed_xiao:
        what: seeed_xiao
        where:
          ref: mcu
        params:
          pogo_pins: true
          model_filename: ../../ergogen/models/XIAO-nRF52840.stp
          model_xyz_rotation: [90, 180, 90]
          model_xyz_offset: [6.1, -1.8, 0]
          P0: Row0
          P1: Row1
          P2: Row2
          P3: Row3
          P4: Row4
          P5: LED_3v3
          P10: MOSI
          P9: MISO
          P8: SRCLK
          BATP: "BAT+"
          VUSB: 5v
      shift_register:
        what: rschenk/shift_register
        where:
          ref: mcu
          shift: [3.6, -23.5]
          rotate: -90
        params:
          side: F
          QA: Col0
          QB: Col1
          QC: Col2
          QD: Col3
          QE: Col4
          SER: MOSI
          SRCLK: SRCLK
          RCLK: MISO
          SRCLR: VCC
          OE: GND
      level_shifter:
        what: SN74LV1T34DCKR
        where:
          ref: mcu
          shift: [-4, -21.5]
          rotate: -90
        params:
          side: F
          input: LED_3v3
          gnd: GND
          output: LED
          vcc: 5v
      mcu_mounting_holes:
        what: rschenk/hole_m2
        where: [mcu_cover_mounting_hole]
        params:
          plated: true
      power_sw:
        what: slider
        where.ref: mcu
        adjust.shift: [0, 17.3]
        params:
          side: B
          from: "BAT+"
          to: BAT_POS
      prgm_button:
        what: mini_push_btn
        where:
          ref: key_prgm
          shift: [0, 0]
          rotate: -90
        params:
          name: Prgm
          flip_name: true
          from: "{{from}}"
          to: Prgm_diode
      prgm_diode:
        what: rschenk/better_diode
        where: key_prgm
        params:
          from: Prgm_diode
          to: "{{to}}"
          through_hole: false
          front: true
          back: false
          via_from: false
          via_to: false
        adjust:
          shift: [4, 0]
          rotate: -90
      reset_button:
        what: mini_push_btn
        where:
          ref: mcu
          shift: [-4, -15]
          rotate: -90
        params:
          name: Reset
          from: RST
          to: GND
      battery:
        what: jstph
        where:
          ref: mcu
          rotate: 180
        adjust.shift: [10, 20]
        params:
          side: B
          pos: BAT_POS
          neg: GND
