meta:
  engine: 4.1.0
units:
  p: 0
  hU: .5U
  hUp: hU + p
  mcuY: 5
points:
  zones:
    matrix:
      anchor:
        rotate: 5
        shift: [100, -100]
      columns:
        pinky:
          key:
            column_net: Col0
        ring:
          key:
            splay: -5
            origin: [-12, -19]
            stagger: 12
            column_net: Col1
        middle:
          key:
            stagger: 5
            column_net: Col2
        index:
          key:
            stagger: -6
            column_net: Col3
        inner:
          key:
            stagger: -2
            column_net: Col4
      rows:
        bottom:
          row_net: Row0
        home:
          row_net: Row1
        top:
          row_net: Row2
        number:
          row_net: Row3
    thumbfan:
      anchor:
        ref: matrix_index_bottom
        shift: [0, -22]
      columns:
        near:
          key:
            column_net: Col2
        home:
          key:
            spread: 21.25
            splay: -14
            origin: [-11.75, -9]
            column_net: Col3
        far:
          key:
            spread: 21.25
            splay: -15
            origin: [-9.5, -9]
            column_net: Col4
      rows:
        thumb:
          row_net: Row4
  # rotate: -20
  # mirror:
  #   ref: matrix_pinky_home
  #   distance: 260
outlines:
  keys:
    - what: rectangle
      where: true
      operation: stack
      size: [U, U]
  pcb_outline:
    - what: polygon
      fillet: 1
      points:
        - ref: matrix_pinky_bottom
          shift: [-hUp, -hUp]
        - ref: matrix_pinky_number
          shift: [-hUp, hUp]
        - ref: matrix_pinky_number
          shift: [3, hUp]
        - ref: matrix_ring_number
          shift: [-hUp, hUp]
        - ref: matrix_ring_number
          shift: [hU - 5, hUp]
        - ref: matrix_middle_number
          shift: [-hUp, hUp]
        - ref: matrix_middle_number
          shift: [hUp, hUp]
        - ref: matrix_index_number
          shift: [-hU + 5, hUp]
        - ref: matrix_index_number
          shift: [hUp, hUp]
        - ref: matrix_inner_number
          shift: [-hU + 1.5, hUp]
        - ref: matrix_inner_number
          shift: [hUp, hUp]
        - ref: matrix_inner_home
          shift: [hU, 2mcuY]
        - ref: matrix_inner_home
          shift: [hU + 5, mcuY]
        - ref: matrix_inner_home
          shift: [25.6, mcuY]
        - ref: matrix_inner_home
          shift: [30.6, 5-mcuY]
        - ref: thumbfan_far_thumb
          shift: [0, hUp]
        - ref: thumbfan_far_thumb
          shift: [hUp, hUp]
        - ref: thumbfan_far_thumb
          shift: [hUp, -hUp]
        - ref: thumbfan_far_thumb
          shift: [-hU, -hUp]
        - ref: thumbfan_home_thumb
          shift: [-hU, -hUp]
        - ref: thumbfan_near_thumb
          shift: [hU - p, -hUp]
        - ref: thumbfan_near_thumb
          shift: [-hUp, -hUp]
        - ref: thumbfan_near_thumb
          shift: [-hUp - 7, -hUp + 11.3]
        - ref: matrix_pinky_bottom
          shift: [hUp, -hUp]

  view:
    - name: pcb_outline
    - operation: stack
      name: keys
pcbs:
  left:
    template: kicad8
    outlines:
      main:
        outline: pcb_outline
    footprints:
      gateron_hotswap:
        what: gateron_lp
        where: true
        params:
          from: "{{column_net}}"
          to: "{{colrow}}"
      key_diodes:
        what: rschenk/better_diode
        where: true
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
          through_hole: false
          front: true
          back: false
          via_from: false
          via_to: false
        adjust:
          shift: [0, -9]
      key_leds:
        what: SK6812-E
        where: true
        adjust:
          shift: [0, 5]
      seeed_xiao_front:
        what: seeed_xiao
        where:
          ref: matrix_inner_bottom
          shift: [20, 4]
        adjust:
          rotate: 0
        params:
          pogo_pins: true
          P0: Row0
          P1: Row1
          P2: Row2
          P3: Row3
          P4: Row4
          P10: SER
          P9: RCLK
          P8: SRCLK
      shift_register:
        what: rschenk/shift_register
        where:
          # ref.aggregate.parts: [matrix_inner_home, mirror_matrix_inner_home]
          shift: [0, -25]
          rotate: -90
        params:
          side: B
          QA: Col0
          QB: Col1
          QC: Col2
          QD: Col3
          QE: Col4
          SRCLR: VCC
          OE: GND
