meta:
  engine: 4.1.0
units:
  p: 0
  hU: .5U
  hUp: hU + p
  mcuY: 5
points:
  zones:
    matrix:
      anchor:
        rotate: 5
        shift: [100, -100]
      columns:
        pinky:
          key:
            column_net: Col0
          rows:
            bottom:
              key:
                led_prev: LED3
                led_next: LED4
                led_rotation: 180
            home:
              key:
                led_prev: LED12
                led_next: LED13
                led_rotation: 180
            top:
              key:
                led_prev: LED13
                led_next: LED14
                led_rotation: 0
            number:
              key:
                led_prev: LED22
                led_next: LEDEND
                led_rotation: 180
        ring:
          key:
            splay: -5
            origin: [-12, -19]
            stagger: 12
            column_net: Col1
          rows:
            bottom:
              key:
                led_prev: LED4
                led_next: LED5
                led_rotation: 0
            home:
              key:
                led_prev: LED11
                led_next: LED12
                led_rotation: 180
            top:
              key:
                led_prev: LED14
                led_next: LED15
                led_rotation: 0
            number:
              key:
                led_prev: LED21
                led_next: LED22
                led_rotation: 180
        middle:
          key:
            stagger: 5
            column_net: Col2
          rows:
            bottom:
              key:
                led_prev: LED5
                led_next: LED6
                led_rotation: 0
            home:
              key:
                led_prev: LED10
                led_next: LED11
                led_rotation: 180
            top:
              key:
                led_prev: LED15
                led_next: LED16
                led_rotation: 0
            number:
              key:
                led_prev: LED20
                led_next: LED21
                led_rotation: 180
        index:
          key:
            stagger: -6
            column_net: Col3
          rows:
            bottom:
              key:
                led_prev: LED6
                led_next: LED7
                led_rotation: 0
            home:
              key:
                led_prev: LED9
                led_next: LED10
                led_rotation: 180
            top:
              key:
                led_prev: LED16
                led_next: LED17
                led_rotation: 0
            number:
              key:
                led_prev: LED19
                led_next: LED20
                led_rotation: 180
        inner:
          key:
            stagger: -2
            column_net: Col4
          rows:
            bottom:
              key:
                led_prev: LED7
                led_next: LED8
                led_rotation: 180
            home:
              key:
                led_prev: LED8
                led_next: LED9
                led_rotation: 0
            top:
              key:
                led_prev: LED17
                led_next: LED18
                led_rotation: 180
            number:
              key:
                led_prev: LED18
                led_next: LED19
                led_rotation: 0
      rows:
        bottom:
          row_net: Row0
          led_rotation: 0
        home:
          row_net: Row1
        top:
          row_net: Row2
        number:
          row_net: Row3
    thumbfan:
      anchor:
        ref: matrix_index_bottom
        shift: [0, -22]
      columns:
        near:
          key:
            column_net: Col2
          rows:
            thumb:
              key:
                led_prev: LED2
                led_next: LED3
                led_rotation: 180
        home:
          key:
            spread: 21.25
            splay: -14
            origin: [-11.75, -9]
            column_net: Col3
          rows:
            thumb:
              key:
                led_prev: LED1
                led_next: LED2
                led_rotation: 180
        far:
          key:
            spread: 21.25
            splay: -15
            origin: [-9.5, -9]
            column_net: Col4
          rows:
            thumb:
              key:
                led_prev: LED
                led_next: LED1
                led_rotation: 180
      rows:
        thumb:
          row_net: Row4
  # rotate: -20
  # mirror:
  #   ref: matrix_pinky_home
  #   distance: 260
outlines:
  keys:
    - what: rectangle
      where: true
      operation: stack
      size: [U, U]
  pcb_outline:
    - what: polygon
      fillet: 1
      points:
        - ref: matrix_pinky_bottom
          shift: [-hUp, -hUp]
        - ref: matrix_pinky_number
          shift: [-hUp, hUp]
        - ref: matrix_pinky_number
          shift: [3, hUp]
        - ref: matrix_ring_number
          shift: [-hUp, hUp]
        - ref: matrix_ring_number
          shift: [hU - 5, hUp]
        - ref: matrix_middle_number
          shift: [-hUp, hUp]
        - ref: matrix_middle_number
          shift: [hUp, hUp]
        - ref: matrix_index_number
          shift: [-hU + 5, hUp]
        - ref: matrix_index_number
          shift: [hUp, hUp]
        - ref: matrix_inner_number
          shift: [-hU + 1.5, hUp]
        - ref: matrix_inner_number
          shift: [hUp, hUp]
        - ref: matrix_inner_home
          shift: [hU, 2mcuY]
        - ref: matrix_inner_home
          shift: [hU + 5, mcuY]
        - ref: matrix_inner_home
          shift: [25.6, mcuY]
        - ref: matrix_inner_home
          shift: [30.6, 5-mcuY]
        - ref: thumbfan_far_thumb
          shift: [0, hUp]
        - ref: thumbfan_far_thumb
          shift: [hUp, hUp]
        - ref: thumbfan_far_thumb
          shift: [hUp, -hUp]
        - ref: thumbfan_far_thumb
          shift: [-hU, -hUp]
        - ref: thumbfan_home_thumb
          shift: [-hU, -hUp]
        - ref: thumbfan_near_thumb
          shift: [hU - p, -hUp]
        - ref: thumbfan_near_thumb
          shift: [-hUp, -hUp]
        - ref: thumbfan_near_thumb
          shift: [-hUp - 7, -hUp + 11.3]
        - ref: matrix_pinky_bottom
          shift: [hUp, -hUp]

  view:
    - name: pcb_outline
    - operation: stack
      name: keys
pcbs:
  left:
    template: kicad8
    outlines:
      main:
        outline: pcb_outline
    footprints:
      gateron_hotswap:
        what: ceoloide/switch_gateron_ks27_ks33
        where: true
        params:
          from: "{{column_net}}"
          to: "{{colrow}}"
      key_diodes:
        what: rschenk/better_diode
        where: true
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
          through_hole: false
          front: true
          back: false
          via_from: false
          via_to: false
        adjust:
          shift: [0, -9]
      key_leds:
        what: ceoloide/led_sk6812mini-e
        where: true
        params:
          P2: "{{key.led_next}}" # Dout
          P4: "{{key.led_prev}}" # Din
        adjust:
          rotate: "{{key.led_rotation}}"
          shift: [-.6, 5.2]
      seeed_xiao_front:
        what: seeed_xiao
        where:
          ref: matrix_inner_bottom
          shift: [20, 4]
        params:
          pogo_pins: true
          P0: Row0
          P1: Row1
          P2: Row2
          P3: Row3
          P4: Row4
          P5: LED_3v3
          P10: SER
          P9: RCLK
          P8: SRCLK
      shift_register:
        what: rschenk/shift_register
        where:
          # ref.aggregate.parts: [matrix_inner_home, mirror_matrix_inner_home]
          shift: [0, -25]
          rotate: -90
        params:
          side: B
          QA: Col0
          QB: Col1
          QC: Col2
          QD: Col3
          QE: Col4
          SRCLR: VCC
          OE: GND
      level_shifter:
        what: SN74LV1T34DCKR
        params:
          input: LED_3v3
          gnd: GND
          output: LED
          vcc: VCC
